html{
    cursor: url('customCursor.png'), auto default;
}
*{
    cursor: url('customCursor.png'), auto default;
}

body {
    margin: 0px;
    padding: 0px;
}

.navigation {
    margin-left: 10rem;
}